*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: inherit;
}
ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
.address {
  font-style: normal;
  line-height: 24px;
}
.letter-spacing-extended {
    text-transform: uppercase;
    line-height: 133%;
}
.footer__social-icon {
    width: 48px;
}
