.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
  font-size: 18px;
  line-height: 100%;
  text-underline-offset: 3px;
}

.header__menu-item_active {
  list-style: none;
}
.link_no-bullit {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

/* Стили для конкретных адресов */
.address_header {
  justify-self: end;
}
/* Стили cover - только для этой секции */
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.cover__title {
  width: 100%;
  max-width: 1000px;
  font-size: 100px;
  color: #fff;
  margin-top: 180px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.aligned-text_left {
  text-align: left;
  margin-right: auto;
  letter-spacing: 31px;
  line-height: 84px;
  display: block;
}

.aligned-text_center {
  line-height: 187px;
  letter-spacing: 28px;
  display: block;
  text-align: center;
  margin-left: 0.25em;
}

.aligned-text_right {
    margin-left: auto;
    line-height: 85px;
    letter-spacing: 28px;
    margin-right: -0.25em;
    display: block;
    text-align: right;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  max-width: 1000px;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.cover__description-text {
  word-spacing: 0.85em;
}

.bet-button {
  width: 256px;
  height: 51px;
  color: #fff;
  border-color: #fff;
  background: transparent;
  border-style: solid;
  text-transform: uppercase;
  font-size: 22px;
}

/* Секция lots */
.lots {
  display: flex;
  flex-direction: column;
  margin-bottom: 155px;
}

.lots__heading {
  font-size: 40px;
  padding-left: 64px;
  margin: 0 0 27px 0;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
}

/* Карточки */
.card {
  width: 100%;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  text-decoration: none;
  display: block;
}

.card__title {
  font-size: 22px;
  color: #fff;
  width: 254px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 2;
  margin: 0;
  word-break: break-word;
}

.card__text {
  width: 254px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
  margin: 0;
  word-break: break-word;
}

.lots__look-more-link {
  text-underline-offset: 6px;
  margin-top: 30px;
  font-size: 20px;
  display: block;
  width: fit-content;
  max-width: 100%;
  margin-left: 64px;
}

/* Секция about */
.about {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 334px 1fr;
  justify-items: center;
  margin: 0 24px;
  gap: 25px;
  margin-bottom: 180px;
}

.about__column {
  display: grid;
  width: 693px;
  margin-top: 101px;
  gap: 100px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0;
}

.about__text {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  height: 115px;
}

/* Футер */
.footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  gap: 90px;
  padding-bottom: 40px;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 48px;
}

.footer__menu-link_active {
  list-style: none;
}

.footer__menu {
  text-align: center;
  text-underline-offset: 5px;
  font-size: 18px;
}
.footer__menu-item_active {
  list-style: none;
}
